.ab-section, .ab-story-section {
    padding: 2rem .5rem;
}

.ab-story > p, .ab-story-section > p {
    text-align: left;
    text-indent: 5%;
}

.ab-more {
    background-color: #5b0e938a;
    margin: 3rem;
    padding: 12px;
    border-radius: 25px;
    max-width: fit-content;
}

.ab-more-container {
    display: flex;
    justify-content: center;
}

.ab-shape-1 {
    background: var(--primary);
    height: 4rem;
    position: relative;
    left: -5rem;
    box-shadow: inset 0px 0px 25px #000000;
    transform: skew(340deg);
}

.ab-shape-2 {
    background: var(--primary);
    transition: all 1s ease-in-out;
    height: 4rem;
    position: relative;
    left: 5rem;
    box-shadow: inset 0px 0px 25px #000000;
    transform: skew(340deg);
}

@media only screen and (min-width: 768px){
    .ab-section {
        padding: 2rem 5rem;
        text-align: center;
    }

    .ab-story-section {
        display:flex;
        padding: 2rem 0;
    }
}